In [1]:
import os
import csv
import pandas as pd
import gc

In [2]:
def proc_netflix(files):

    ratings = []

    with open(file_path) as f:

        movie_id = 0

        for line in f:

            if len(line.split(',')) == 1:
                movie_id = line.strip(':\n')
            elif len(line.split(',')) == 3:
                user_rating = line.strip().split(',')
                user_rating.append(movie_id)
                ratings.append(user_rating)
            else:
                print(line.strip())
    
    return ratings

In [3]:
in_path = './data/'
out_path = './proc_data'
file_names  = [x for x in os.listdir(in_path) if x.endswith(".txt")]

In [ ]:
for idx, file in enumerate(sorted(file_names)):
    
    print("processing file {} ...".format(file))
    
    ratings = proc_netflix_rating(os.path.join(in_path, file))
    
    output_file = os.path.join(out_path, 'proc_data_'+str(idx+1)+'.csv')
                               
    with open(output_file, "w") as output:
        writer = csv.writer(output, lineterminator='\n')
        writer.writerow(['user_id','rating','date', 'movie_id'])
        writer.writerows(ratings)
    
    print("finished, file output to {}".format(output_file))

### Merge Together

In [4]:
files = [x for x in os.listdir(out_path) if x.endswith(".csv")]

In [5]:
dfs = []

for file in files:
    df_temp = pd.read_csv(os.path.join(out_path, file))
    dfs.append(df_temp)

In [6]:
full_ratings = pd.concat(dfs)

del dfs, df_temp
gc.collect()

0

In [8]:
full_ratings.head()

   user_id  rating        date  movie_id
0  1488844       3  2005-09-06         1
1   822109       5  2005-05-13         1
2   885013       4  2005-10-19         1
3    30878       4  2005-12-26         1
4   823519       3  2004-05-03         1

In [9]:
train_size = 10**6
val_size = 2*10**5

In [20]:
train = full_ratings.loc[(full_ratings['date'] >= '2005-11-01') & (full_ratings['date'] < '2005-12-15')]

In [21]:
train.shape

(4825927, 4)

In [22]:
val = full_ratings.loc[(full_ratings['date'] >= '2005-12-15')]

In [23]:
val.shape

(1184763, 4)

### Write to CSV

In [25]:
train.to_csv('train.csv.gz', index=False, compression='gzip', columns=['user_id','movie_id','rating'])

In [26]:
val.to_csv('val.csv.gz', index=False, compression='gzip', columns=['user_id','movie_id','rating'])